@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "HeadingAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>BAŞLIK EKLEME</h2>
<br />
@using (Html.BeginForm("HeadingAdd", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadName)
        <br />
        <br />
        @Html.Label("Kategori Seç")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.ctg, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryId)
        <br />
        <br />
        @Html.Label("Yazar Seç")
        @Html.DropDownListFor(x => x.WriterId, (List<SelectListItem>)ViewBag.wrt, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterId)
        <br />
        <br />
        <button class="btn btn-info">BAŞLIK &nbsp; OLUŞTUR</button>
    </div>}
<script src="/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/AdminLTE-3.0.4/dist/js/demo.js"></script>